just-diff-apply: add support for JSON Patch's "move" operator

See [RFC 6902, Section 4.4](https://datatracker.ietf.org/doc/html/rfc6902#section-4.4)

Good call.

Done. See just-diff-apply@5.2.0